/* Author - Ruben Saiz Serrnano */

.btnSlideLeft{
    -fx-background-color: #0a3765;
    -fx-text-fill: white;
    -fx-cursor: HAND;
    -fx-border-color: white;
}

.btnSlideLeft:hover {
    -fx-background-color: #0b4074;
}

.btnBorder {
    -fx-border-color: white;
    -fx-border-radius: 10px;
}

.jfx-progress-bar > .bar {
    -fx-background-color:  linear-gradient(to right, #0765AF, #D83248);
}