
/* Estilos textFields
.text-field {
    -fx-background-color: tranparent;
    -fx-background-insets: 0, 0 0 0 0 ;
    -fx-background-radius: 0 ;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}
.text-field .text {
    -fx-text-alignment: center;
}
*/
.btnSlideLeft{
    -fx-background-color: #0a3765;
    -fx-text-fill: white;
    -fx-cursor: HAND;
    -fx-border-color: white;
}

.btnSlideLeft:hover {
    -fx-background-color: #0b4074;
}

.combo-box {
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-prompt-text-fill: white;
    -fx-prompt-fill: white;
    -fx-font-size: 20px;
    -fx-background-color:  rgba(51,51,51,0.5);
}